<h2>Select messages to include in digest</h2>

<%= form_tag sendposts_path do %>
	<ul>
		<% @response['messages'].each do |item| %>
			<li>
			<%= check_box_tag "message_ids[]", item['id'] %>
			<%= item['body'] %>
			</li>
		<% end %>
	</ul>
	<%= submit_tag "Mark to send digest" %>
<% end %>


