<p>Just sent this</p>
<%= debug @message_ids_int %>
<%= debug @content['messages'].reject {|c| @message_ids_int.include? (c['id'])} %>

<ul>
	<% @select_msgs['messages'].each do |item| %>
		<li>
		<%= item['body']%>
		</li>
	<% end %> 
</ul>

<p>Not really...</p>